active=B"true"
clusterName="liferay-cluster"
httpSSLEnabled=B"true"
indexNamePrefix="liferay--"
networkHostAddresses=["https://opensearch-node1:9200","https://opensearch-node2:9200"]
connectionId="REMOTE"
logExceptionsOnly=B"false"
authenticationEnabled=B"true"
truststorePassword="liferay2"
truststorePath="/opt/liferay/certs/truststore.p12"
truststoreType="pkcs12"
username="admin"
password="L1feray$2025"