**/*.iml
**/*.ipr
**/*.iws
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/dist
**/node_modules
**/node_modules_cache
**/test-coverage
**/tmp
**/.web_bundle_build
**/.idea
**/.gradle
**/bundles
**/node_modules
**/node_modules_cache
